<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Define a única fonte de download oficial confiável e correta -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <!-- Remove de vez qualquer bloqueio residual de mapeamento na máquina -->
  <packageSourceMapping>
    <clear />
  </packageSourceMapping>
</configuration>
